@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
 
}
html {
  scroll-behavior: smooth;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
          margin-bottom: 30px;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color:#002759 ;
}
p{
  font-size: 17px;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          margin-bottom: 30px;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box  {
  min-width: 100%;
  background-color:#2f55d4;
  min-height: 100%;
  margin-bottom: 8rem !important;
}


.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: red;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #2f55d4 ;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  /* -webkit-animation: upDown 5s infinite; */
          /* animation: upDown 5s infinite; */
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}

.service_section {
  position: relative;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section .box .detail-box a {
  color: #2f55d4 ;
  font-weight: 600;
}

.service_section .box .detail-box a:hover {
  color: #00bbf0;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.service_section .btn-box a:hover {
  background-color: #007fa4;
}

.about_section {
  background-color: #2f55d4 ;
  color: #ffffff;
}

.about_section .heading_container {
  margin-bottom: 45px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #007fa4;
}

.why_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height:auto !important;
}

.why_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #2f55d4 ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_section .box .img-box img {
  width: 55px;
  height: auto;
  fill: #2f55d4 ;
}

.why_section .box h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.why_section .box p {
  margin-bottom: 0;
}

.why_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.why_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.why_section .btn-box a:hover {
  background-color: #007fa4;
}

/*team section */
.team_section {
  text-align: center;
  background-color: #2f55d4 ;
  color: #ffffff;
}

.team_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .team_container {
  padding: 0 15px;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-top: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#002759), to(#002b64));
  background: linear-gradient(to bottom, #002759, #002b64);
}

.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: #00bbf0;
  font-weight: 600;
  position: relative;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #00bbf0;
}

/*team section end*/
/* client section start */
.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 50px 25px 25px 25px;
}

.client_section .box .detail-box i {
  color: #2f55d4 ;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #2f55d4 ;
}

/* client section end */
.info_section {
  background-color: #2f55d4 ;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #00bbf0;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #00bbf0;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap:20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      /* -ms-flex-direction: column;
          flex-direction: column; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #00bbf0;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #007fa4;
}

/* footer section*/
.footer_section {
  position: relative;
  color: white;
  z-index: 1000;
  text-align: center;
}

.footer_section p {
  color: white;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */


/* my css */

/* courses.................................. */

.why-us-crousal-right{
  height:100% !important;
}

/* blogs-page................................................................... */
.blog-card{
  background-color: white;
  color:black;
  width:26vw;
  /* border:2px solid black; */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.547);
  /* height:40vh; */
  margin-top: 3rem;
  /* padding: 3px; */
transition:0.5s linear;
position: relative;
}
.blog-card h5,
.blog-card p{
  padding:0 0.9rem;
  padding-bottom: 1rem;
}
.blog-card:hover{
  transform: translateY(-20px);
}
.blog-cards-parent{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.color:hover{
  background-color: #2f55d4 ;
  color:white;
  
}
.blog-header{
  background-color: #0f054c;
}
.blog-hero-area{
  min-height: 4rem;
  margin-bottom: 20px;
}
.blog-image{
  width:100% !important;
  height:35vh;
  margin-bottom: 1rem;
}
.read-more{
  float: right;
  position: absolute;
  bottom:0;
  right:0;
  padding:0 4px;
  cursor: pointer;
  color:blue !important;
}
.blog-image+h5{
  font-weight: 600;
}


/* why choose us.............. */
.choose-us-box{
  /* border:1px solid black; */
  padding:3rem 1rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
  width:24vw;
  transition:0.5s;

}
.choose-us-box:hover{
  /* background-color: #2f55d4 ; */
  /* color:white; */
  transform: translateY(-20px);
}
.choose-us-box:hover h5{
  font-size: 21px;
}

.why_section:hover .box .img-box {
  /* border:5px solid white; */
  color:white;
}
/* .box p{
  text-align: left;
} */
.why_container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* contact form........................................ */

.contact-form{
  box-shadow: 0px 0px 5px grey;
  padding:30px;
  border-radius: 10px;
  width:80%;
  margin: auto;
}

.three-contact-cards{
/* border:1px solid black; */
height:6rem;
}

.Three-contact-cards:hover{
  background-color: #2f55d4 ;
  color:white;
}
.Three-contact-cards-parent{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
 

}


/* slider-div......................... */
.slider-div{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.652);
  border-radius:0px 10px 0px 10px;
  display: inline-block;
  width:18vw;
  padding:10px 15px;
  margin: 10px;

}
.placed-div-card{
  display:flex;
  justify-content: space-between;
}
.logo-slide{
  display:inline-block;
  animation: slider 29s linear infinite;
}
.logo{
  white-space: nowrap;
  margin-top: 3rem;
}

@keyframes slider{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }

}

.placed-images{
height:4.3rem;
width:4.3rem;
border-radius: 50%;
border:1px solid black;
}
.blog-header{
background-color:#2f55d4  !important ;
}
.sub_page .hero_area {
  background-color:#2f55d4  !important ;
}


.sub_page .hero_area {
  min-height: auto;
  background:transparent;
}

/* review.................. */
.client_section .box .detail-box{
height:52vh;
}

/* partner companies..............................*/
.avatar{
  width:6rem;
  height:3rem;
}


/* certificate-div */
.full-stack-course-image{
  width:60%;
  height:55vh;
  margin: auto;
}
.certificate-div{
  padding:0rem !important;
}
.full-stack-course-image img{
  height:100%;
  width:100%;
}


/* logo.................. */
.logo-dscip{
  /* height:5rem !important;
  width:22rem !important; */
  padding-left: 4rem;
  display: flex;
  align-items: center;
  height: 40px !important;
  margin-left:80px;
 }

/* footer */
.info_section{
  margin-top: 20px !important;
}

/* placed students................. */
.placed-student-image{
  width:100%;
  height:100%;
  border-radius: 50%;
}




/* gallery.................. */
.gallery-div{
  box-shadow: 0px 0px 5px grey;
  margin-top: 20px;
  width:90%;
  padding:0px !important;
  height:49vh;
  margin-top: 40px;
  overflow: hidden;
 
}
.gallery-div img{
  width:100%;
  height:100%;
}
.gallery-div:hover img{
  transform: scale(1.2) rotateY(20deg);
  transition: transform 0.3s ease;
   /* Optional: Add smooth transition */
}

.service_section .box .img-box{
  width:100%;
  height:30vh;
 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}
.service_section .box{
  transition:0.5s linear;
}


.service_section .box:hover{
  transform: translateY(-30px);
}

.img-box-1{
  width:100%;
  height:30vh;
  background: url("../images/mern.png");
}

.img-box-2{
  width:100%;
  height:30vh;
  background: url("../images/mean.png");
}

.box{
  height:68vh;
}

.img-box-3{
  width:100%;
  height:30vh;
  background: url("../images/Fullstackjava.jpg");
}
.service_section .box .img-box img{
width:100%;

}



/* why us crousal.................. */
.why-us-crousal-parent .carousel-item{
  background: url(../images/Why-us-crousal/A4\ -\ 58.jpg);
  /* border:1px solid black; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  color:black !important;
  margin-top: 30px !important;
  height:94vh;

  margin: auto;
}


.why-us-crousal-parent .one{
  background: url(../images/Why-us-crousal/A4\ -\ 58.jpg);
  /* border:1px solid black; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 
  color:black !important;
  margin-top: 30px !important;
  height:94vh;
  
  margin: auto;
}

.why-us-crousal-parent .two{
  background: url(../images/Why-us-crousal/why-us-slide-2.jpg);
  /* border:1px solid black; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  color:black !important;
  margin-top: 30px !important;
  height:94vh;

  margin: auto;
}



.why-us-crousal-parent .three{
  background: url(../images/Why-us-crousal/why-us-slide-3.jpg);
  /* border:1px solid black; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  color:black !important;
  margin-top: 30px !important;
  height:94vh;

  margin: auto;
}


.why-us-crousal-parent .four{
  background: url(../images/Why-us-crousal/why-us-slide-4.jpg);
  /* border:1px solid black; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  color:black !important;
  margin-top: 30px !important;
  height:94vh;

  margin: auto;
}

.carousel-indicators li{
  background-color: black;
}
.carousel-indicators{
  width:50%;
  margin: auto;
}

.why-us-crousal-parent .five{
  background: url(../images/Why-us-crousal/why-us-slide-5.jpg);
  /* border:1px solid black; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  color:black !important;
  margin-top: 30px !important;
  height:94vh;

  margin: auto;
}


.carousel-control-prev, .carousel-control-next {
color:black !important;

}
.carousel-control-next-icon,
.carousel-control-prev-icon{
  border:2px solid black;
  display:none !important;
}

.why-us-crousal-left{
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.box{
  height:auto !important;
}

.service_section .box{
  height: 68vh !important;
/* height:auto !important; */
}





/* footer-in-iframe-tag */
.footer-iframe{
  height:61.2vh;
  margin-top: 20px !important;
    width:100%;
}



.logo{
  overflow: hidden;
}



/* layout-padding............... */

.layout_padding {
  padding: 70px 0 !important;
}

/* limited seats........................... */
.limited-seats{
  animation:color 1s linear infinite;
  font-size: 22px !important;
}
@keyframes color{
  0%{
    color:white;
  }
  50%{
   
    color:red;
  }
  100%{
    color:white;
  }
}

/* whats app image........... */

.whats-app-enroll-btn{
  display:flex;
  border:none;
  outline:none;
  gap:1rem;
}


.fa-whatsapp{
font-size: 20px !important;


}

.fa-check{
  font-size: 20px !important;

  
  }

  .whtasapp-btn{
    padding:5px;
    background-color: #48c456;
    border:none  !important;
    outline:none !important;
    font-size: 20px;
    color:white;
    font-weight: 600;
    border-radius: 8px; 
    transition: background-color 0.3s ease;
  }
  .whtasapp-btn:hover {
    background-color: #3ea94e;
    transform: scale(1.1); 
    cursor: pointer;
  }
  
.enroll-btn{
  padding: 5px;
  background-color: rgba(0, 0, 255, 0.656);
  border:none !important;
  outline:none !important;
  font-size: 20px;
  font-weight: 600;
  color:white;
  border-radius: 8px;
  transition: background-color 0.3s ease; 
}
.enroll-btn:hover {
  background-color: rgba(0, 0, 200, 0.656);
  transform: scale(1.1); 
  cursor: pointer;
}

/* whatsapp div end */



/* mobile view............... */
@media screen and (min-width:280px) and (max-width:500px){

  .whats-app-enroll-btn{
    flex-direction: column;
      }
.carousel-item h1{
  font-size: 23px;
}
#detail-box{
  height:21vh !important;
}

.logo-dscip {
  height: 4rem !important;
  width: 16rem !important;
  padding-left:0 !important;
}

  .info_section .info_links {
    flex-direction: column;
    gap:0px;
  }
  .blog-card,
  .choose-us-box{
    width:auto;
  }
  .contact-form{
    width:100%;
  }

  /* contact three cards........................... */
  .three-contact-cards{
height:auto;
  }
.full-stack-course-image{
  width:auto;
}

iframe{
  display:none;
}
.background{
  overflow: hidden !important;
}
.logo{
  overflow: hidden;
}
.Three-contact-cards-parent{
display:none;
}
.navbar-toggler{
display:block !important;
}


/* slider................... */
.slider-div{
  width:auto;
}

/* placed-description......................... */
.placed-description{
  padding:13px;
}
.placed-description h4
{
font-size: 1.2rem;
padding:0px 13px;
}
.placed-description p{
  font-size: 1rem;
  padding:0px 9px;
}


/* hero session...................... */
.slider_section .detail-box h1 {
font-size: 1.6rem !important;
}



}

@media screen and (min-width:501px) and (max-width:1050px){
  .choose-us-box{
    width:40vw !important;
  }
  .map iframe{
    width:100%;
    margin-top: 20px;
  }
  .contact-form{
    width:100%;
  }
  .full-stack-course-image{
    width:100%;
  }
  .box{
    height:auto;
  }
  .client_section .box .detail-box {
    height: 39vh;
}
.slider-div{
  width:auto;
}
.logo{
  overflow: hidden;
}
.blog-image{
 margin: auto;
}

}